export(
       "gmpm",
       "gmpmCreate"
       )

exportMethods(
    "fitOnce",
    "getMainSummary",
    "getNExceeding",
    "getPermMx",
    "getPValue",
    "getRegSummary",
    "gmpmCoef",
    "getModelFrame",
    "getFactorCodes",
    "gmpmEstimate",
    "mdTest",
    "origFit",
    "permSpace",
    "permute",
    "show",
    "summary"
)

exportClasses(
    "GMPM",
     "GMPM.glm",
     "GMPM.mul",
     "GMPMSummary",
     "GMPM.user",
     "Mdtest",
     "Mdtest.sum" 
)
